@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      height: "auto";
    }
  
    .navList {
      flex-direction: column;
      gap: 10px;
    }
  
    .searchContainer {
      width: 80%;
    }

  }
  
